@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dashed red; */
}

.nav {
  background: #1a1c22;
  z-index: 1000;
}

.footerSection {
  background: #1a1c22;
}

.landing {
  background: #1a1c22;
  height: 100vh;
  padding: 13% 7%;
}

.mr {
  margin-right: 30%;
  
}
.h1font {
  font-family: 'Concert One', cursive;
}
.p {
  font-family: 'Concert One', cursive;
}
.weight {
  width: 100%;
  height: 100%;
  padding: 3% 20%;
}

.w {
  aspect-ratio: 12/3;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
.heit {
  aspect-ratio: 4/3;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.focus:focus {
  background: #1a1c22;
  color: #fff;
}

.textBlack {
  color: #25242c;
}


.speech {
    background-image: url("../public/Images/Lambo08.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 84.5vh;
    margin-bottom: -4%;
    mix-blend-mode: color-burn;
}

.speech .bg {
  background: rgba(255,255,255,0.7);
  height: 84.5vh;
  padding: 15% 0% 0% 0%;
}

.Newsletter {
  padding: 4% 0;
}
.mx {
  margin: 0 20%;
}

@media (max-width: 768px) {
  .landing {
    background-image: url("../public/Images/Lambo.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .w {
    aspect-ratio: 7/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
  }

  .mx {
    margin: 0 10%;
  }

  .icons {
    background-image: url("../public/Images/Hight.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6% 10%;
  }
  .bg {
    background: #1a1c22;
  }
  
  .CarImage {
    display: none;
  }
  .md {
    background: #3d3a50;
    width: 95%;
    padding: 1rem 1.5rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .mr {
    margin-right: 0%;
  }
  .speech {
    height: 49vh;
  }
  .speech .bg {
    background: rgba(255,255,255,0.7);
    height: 49vh;
    padding: 10% 0% 0% 0%;
  }
}
@media (max-width: 640px) {
  .bg {
    background: #1a1c22;
  }
  .CarImage {
    display: none;
  }
  .sec {
    margin-top: -12%;
    margin-left: 65%;
  }
}
@media (max-width: 425px) {
  .bg {
    background: #1a1c22;
  }

  .speech {
    height: 35vh;
  }
  .speech .bg {
    background: rgba(255,255,255,0.7);
    height: 45vh;
    padding: 20% 0% 0% 0%;
  }

  .icons {
    background-image: url("../public/Images/Hight.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 0%;
  }

  .mr {
    margin-right: 0%;
  }

  .sec {
    margin-top: -19%;
    margin-left: 65%;
  }

  .landing p{
    font-size: 10px;
  }
  .CarImage {
    display: none;
  }
  .mx {
    margin: 3% 5%;
  }
  .w {
    aspect-ratio: 7/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
  }
}